* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

/****************** LUNGHEZZE */

.w-100 {width: 100%;}
.w-90 {width: 90%;}
.w-33 {width: 33%;}
.w-25 {width: 25%;}

/******************* ALTEZZE */

.h-70 {height: 70px;}
.h-80 {height: 80px;}

/******************* MARGINI */

.mt-20 {margin-top: 20px;}
.ml-50 {margin-left: 50px;}
.m0a {margin: 0 auto;}

/******************* PADDING */
.pr-10 {padding-right: 10px;}
.pl-15 {padding-left: 15px;}
.pl-21 {padding-left: 21px;}
.pl-33 {padding-left: 33px;}
.p-20x {padding: 20px 20px 0 0;}
.p-20 {padding: 20px;}
.pr-20 {padding-right: 20px;}
.pl-20 {padding-left: 20px;}
.pl-25 {padding-left: 20px;}
.pr-30 {padding-right: 30px;}
.pr-35 {padding-right: 35px;}
.pr-45 {padding-right: 45px;}
.pr-50 {padding-right: 50px;}
.pr-90 {padding-right: 90px;}

.pt-32 {padding-top: 32px;}


.pr-40 {padding-right: 40px;}



/******************* POSIZIONI */

.absolute {position: absolute;}

.relative {position: relative;}

/******************* DISPLAY */

.d-flex {display: flex;}

.d-inblock {display: inline-block;}
    

/******************* FLEXBOX */

.j-start {justify-content: flex-start;}

.j-end {justify-content: flex-end;}

.wrapped {flex-wrap: wrap;}

.j-around {justify-content: space-around;}
.j-between {justify-content: space-between;}
/******************** HEADER */

header {
    text-align: right;
    background-color: black;
    color: white;
    padding-right: 20px;
    padding-top: 5px;
}

.btnGray {
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
}

.headerRight > i {
    padding: 3px;
}

/********************** MAIN */

main {
    background-color: black;
    height: calc(100vh - 150px);
    overflow: auto;
}

.imgBox {
    height: 200px;
    width: 280px;
    margin-bottom: 15px;
}

.nameBox {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 6px;
}

.nameBox > i {
    padding-right: 5px;
}

/********************* FOOTER */

footer {
    background-color: #222222;
    height: 80px;
}

.noStyle {
    list-style-type: none;
}

h3 {
    padding-right: 20px;
}

.footerLeft {
    width: 11%;
    

}

.footerCenter {
    width: 50%;
    
}

.footerRight {

    
}

.ended {
    align-content: flex-end;
}



.red {
    background-color: #4a4a4a;
    color: red; 

}

.green {
    color: green;
}

.fa-angle-up {
    align-self: center;
}

.fa-user-group {
    padding: 0 40px 0 40px;
}

span {
    font-size: 13px;
}

.break {
    flex-basis: 100%;
    height: 0;
  }